<mat-card>
  <h4>Profile Information</h4>
  <div class="pt-3">
    <div class="proflie-field mb-3">
      <label>First Name:</label>
     
    </div>
    <div class="proflie-field mb-3">
      <label>Last Name:</label>
     
    </div>
    <div class="proflie-field mb-3">
      <label>Gender:</label>
    
    </div>
    <div class="proflie-field mb-3">
      <label>Date of birth:</label>
   
    </div>
    <div class="proflie-field mb-3">
      <label>Mobile Number:</label>
    
    </div>
    <div class="proflie-field mb-3">
      <label>location:</label>
  
    </div>
    <div class="proflie-field mb-3">
      <label>E-mail id:</label>
      
    </div>

    <button mat-raised-button color="accent" [routerLink]="['edit']" [queryParams]="{type:'info'}">Edit</button>
  </div>
</mat-card>
